In [1]:
# Importation des modules et librairies
import pandas as pd

# Importation des fichiers de resources en dataframe pandas
source1 = pd.read_csv("source1.csv")

source1.head()

    name  height  weight
0   alex   65.78  112.99
1   ajay   71.52  136.49
2  alice   69.40  153.03
3   ravi   68.22  142.34
4    joe   67.79  144.30